.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.error {
  color: #ba2e00;
}

.success {
  color: greentes;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item button {
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  margin: 5px;
  background-color: #ba2e00;
  border: none;
  cursor: pointer;
}

li:hover span.delete-item {
  visibility: visible;
}

button:focus {
  outline: 0;
}

button {
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.Footer div {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 300px;
  margin: 6px;
}

.Footer button {
  transition: background-color .4s ease;
  background-color: white;
  border: none;
  color: #008cba;
  padding: 10px 27px;
  margin-top: 10px;
  margin: 5px;
}

.Footer button:hover {
  background-color: #008cba;
  color: white;
}

.Footer button.active {
  background-color: #008cba;
  color: white;
}
